//body
//{
  // background-color: #cccccc;
//}

.container
{
    /* center contents */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#top
{
    /* surround with whitespace */
    margin-bottom: 0.1px;
    margin-top: 0.1px
    
}

#top .nav
{
    /* center navigation pills */
    display: inline-block;
}

#middle .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

#bottom
{
    /* shrink bottom's font size */
    font-size: smaller;

    /* surround with whitespace */
    margin: 20px;
}

.infotable, .infotable th, .infotable td
{
    border-collapse: collapse;
    border: 1px solid #839E99;
    background: #f1f8ee;
    font: 22px Georgia, "Times New Roman", Times, serif;
    color: #033;
    margin:auto;
    width:1000px;
    padding:10px;

}
 ul#menu li {
display: inline-block;
float: right;
position: relative;
margin-top: 28px; 
margin-left: 10px;
margin-right: 35px;

}

ul#menu li a {

text-decoration: none;
color: black;
font-family: "Helvetica Neue";
font-size: 29px;
}

#backgroundimage {
background-image: url("/img/img.png");
width: 98vw;
height: 98vh; 
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
background-size: cover;
background-position: center center;
color:white;


} 
#nav
{
overflow: auto;
}
#menu
{
 margin:0;
padding:0;
}
.header {
    background-color: #f44336;
    padding: 30px 40px;
    text-align: center;
}